@import 'variables';

@keyframes buttomUp {
    0%{
        opacity: 0;
        transform: translateY(100px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

.Alert {

    font-family: $font-family-text;
    font-weight: 400;
    font-size: 1rem;
    padding: $padding-medium-medium;
    border-radius: $radius-default;
    transition: opacity .3s;
    width: fit-content;

    &.hide {
        opacity: 0;
    }

    &.buttomUp {
        position:fixed;

        animation: buttomUp .5s ease-out;
        bottom: 10px;

        right: 10px;
    }

    &.error {
        background-color: $color-error;
        color: $color-error-text;
    }
    &.info {
        background-color: $color-info;
        color: $color-info-text;

    }
    &.success {
        background-color: $color-success;
        color: $color-success-text;

    }
}