@use "sass:math";
@import 'variables';

.Select {

    position: relative;
    flex-grow: 1;

    > label, > span.selectValue {
        font-family: $font-family-text;
        font-size: 14px;
        font-weight: 500;
        color: $color-default-500;
        user-select: none;
        pointer-events: none;
        transition: transform 0.15s;
    }

    &.small {
        > label, > span {
            font-size: 12px;
        }
    }

    > span.selectValue { 
        color: $color-default;
        position: absolute;
        left: 20px;
        top: 10px;
    }

    > label {
        display: flex;
        + span.selectValue {
            top: 20px;
        }
    }

  


   

    &.small {
        > span.selectValue {
            left: 8px;
            top: 8px;
        }
    }
   

    > svg {
        right: $space-l;
        top: calc(50% - 12px);
        color: $color-default-500;
        width: 1em;
        height: 1em;
        font-size: 1.5rem;
        position: absolute;
    }
    
    &.small {
        > svg {
            font-size: 1rem;
            top: calc(50% - 7px);
            right: 10px;

        }
    }
    > select {
        left: 0;
        width: 100%;
        bottom: 0;
        opacity: 0;
        position: absolute;
        pointer-events: none;
    }

    &.toPortal {
        
        @include form-box;     
        
        &.small {
            @include small-form-box;     
        }


        &:hover {
            background: $color-primary-30;
            cursor: pointer;
            box-shadow: rgba(136, 97, 97, 0.15) 0px 0px 2px 1px;
        }

        
    }

    &.listed {

        label {
            transform: translate(-1rem, -1.3rem);
            font-size: .7rem;
            color: $color-primary-500;            

        }

        &.toPortal {
        
            box-shadow: none;    
            
        }
    

        svg {
            transform: rotate(180deg);
        }

    }

    &.value {
       
        label {
            transform: translate(-1rem, -1.3rem);
            font-size: 11px;
            color:$color-default-500;         

        }

        &.listed {
            transition: transform .15s;

            label {
                color: $color-primary-500;            
            }

        }
            
    }

    &.small {
        label {
            transform: translate(-8px, -22px);
        }
    }
}

.SelectMenu {
    position: fixed;
    transition: all .5s;
    box-shadow:  $color-primary 0px 0px 0px 2px;
    border:none;
    border-radius: 4px;
    overflow: hidden;
    font-size: 14px;

    > span {
        position: relative;
           
        >input {
            padding: $padding-large;
            font-family: $font-family-text;
            font-weight: 500;
            cursor: pointer;
            line-height: 1.3rem;
            transition: all .1s ease-in;
            width: calc(100% - #{2 * $padding-large});
            border: 0;
            outline: 0;
          
           
            &:focus-visible {
                
            }
        }

        box-shadow: rgb(0 0 0 / 15%) 0px 0px 0px 1px inset;

        &:after {
            display: block;
            content: '';
            width: 100%;
            position: absolute;
            height: 2px;
            background: $color-primary;
        }
    
    }
    
    

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        
        background: $color-default-invert;

        li {
            
            padding: $padding-large;
            font-family: $font-family-text;
            font-weight: 500;
            cursor: pointer;
            line-height: 1.3rem;
            transition: all .1s ease-in;

            &:hover {
                background:  $color-primary-150;
            }

            &.currentValue {
                color: $color-primary;
                background:  $color-primary-100;
            }
        }
    }

    &.small {
        font-size: 12px;

        li {
            
            padding: $padding-small ;

        }
    }
}


.SelectContainer {
    display: flex;

    > .Select.children {
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
    }

    > span.right_children { 

        > button {
            cursor: pointer;
            background: $color-primary;
            border: 0;
            color: $color-default-invert;
            height: 100%;
            width: 3rem;
            border-top-right-radius: 4px;
            border-bottom-right-radius: 4px;
        }
    }
}