@import 'variables';

.Button {

    display: flex;
    align-items: center;
    
    border: 0;
    border-radius: 3em;
    cursor: pointer;
    width: fit-content;
    transition: all .2s;   

  > span {
    font-family: $font-family-text;
    font-weight: 700;
    line-height: 1;


  }

  &.primary {
    color: white;
    background-color: $color-primary;
    &:hover {
      background-color: $color-primary-1100;
    }
    &.disabled {
      box-shadow: $color-default-50 0px 0px 0px 2px inset;
      color: $color-default-100;
      background: none;
      &:hover {
        cursor: default;
        background: none;
      }
      
    }
  }
  &.default {
    color: #333;
    background-color: transparent;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px 1px inset;
    &:hover {
      background-color: $color-primary-30;
    }    
  }
  &.small {
    font-size: 12px;
    > span {
      padding: $padding-small;
    }
    svg {
      width: 16px;
      height: 16px;
      padding: 4px;   
    }
  }
  &.medium {
    font-size: 14px;
    > span {
      padding: $padding-medium;
    }
    

    > span + svg {
      height: 14px;
    }
    svg {
      width: 24px;
      height: 24px;
      padding: 8px;   
    }
  }
  &.large {
    font-size: 16px;
    > span {
      padding: $padding-large-large;
    }
    
    > span + svg {
      height: 16px;
    }
    svg {
      width: 32px;
      height: 32px;
      padding: 12px;   
    }
  }

  &.badge {
    padding: 0;
    > span {
      padding: 10px 10px 10px 16px;      
    }

    > span + svg {
      background: $color-primary;
      border-bottom-right-radius: 16px;
      border-top-right-radius: 16px;
      color: white;
      
      height: 22px;
      padding: 6px;
    }
  }

  &:focus {
    outline: none;
    box-shadow: $color-primary-1200 0px 0px 0px 2px inset;
  }

  &.disabled {
    box-shadow: $color-default-50 0px 0px 0px 2px inset;
    color: $color-default-100;
    background: none;
    &:hover {
      cursor: default;
      background: none;
    }
    
  }
  
}

.ButtonGroup {

  background: #f1f1f1;
  display: grid;
  grid-auto-flow: column;
  grid-gap: 1px;
  overflow: hidden;
  border-radius: .3rem;
  border: 1px solid  $color-primary-100;
  padding: 1px;
  width: fit-content;

  .Button {
    background: #fff;
    box-shadow: none;
    border-radius: 0;

  }
}