@import 'spaces';

$radius-default: 4px;


@mixin form-box {
    background-color: transparent;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px 1px inset;
    border:none;
    border-radius: 4px;
    padding: $padding-large;
    line-height: 1.3rem;
}