
@import '../styles/variables';


.Input {
    position: relative;
    display: flex;
  

    > input, > label {
        font-family: $font-family-text;
        font-size: 14px;
        font-weight: 500;
        width: 100%;        
    }


    > label {
        left: 0px;
        top: 0px;
        position: absolute;
        transition: all 0.15s;
        width: fit-content;

        color: $color-default-500;
        user-select: none;

    }

    > input {       
        color: $color-default;
        outline-color: $color-primary;
       
        @include form-box;
       

        &:focus, &.filled {
            + label {
                font-size: .7rem;
                top: 0.1rem;
                left: 0.3rem;
                color: $color-primary-500;
                font-weight: 500;
            }
        }

        &.filled {
            &:not(:focus) {
                + label {
                    color: $color-default-100;             
                }
            }
        }
        &:not(.filled) {
            &:not(:focus) {
                + label {
                    padding: $padding-large;
                }
            }
        }

        &:hover {
            background-color: $color-primary-30;
            box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 2px 1px;
        }
       
    }

}